<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- My style.css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Leaflet's CSS file -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <!-- Leaflet's JavaScript file -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <title>Homepage</title>
</head>
<body>
    <!-- TODO: print date and time of the last update -->
    <div id="map"></div>
    <script>
        const map = L.map("map").setView([40.4168, -3.7038], 6);

        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
            attribution: "&copy; OpenStreetMap contributors"
        }).addTo(map);

        // Render entire Python list as JSON
        const stations = {{ stations | tojson }};

        stations.forEach(station => {
            // Skip markers if coords are actually null/undefined
            if (station.latitude == null || station.longitude == null) return;

            L.marker([station.latitude, station.longitude], { title: station.name })
                .bindPopup(`
                    <b>${station.name}</b><br>
                    ${station.address}<br>
                    ${station.timetable || 'N/A'}<br>
                    Gasolina 95: ${station.gasoline95 ?? 'N/A'}<br>
                    Gasolina 98: ${station.gasoline98 ?? 'N/A'}<br>
                    Diesel: ${station.diesel ?? 'N/A'}<br>
                    Diesel Premium: ${station.diesel_premium ?? 'N/A'}<br>
                    Diesel B: ${station.dieselB ?? 'N/A'}
                `)
                .addTo(map);
        });
    </script>
</body>
</html>