<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- My style.css file -->
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
            <!-- My map.js file -->
            <script src="{{ url_for('static', filename='map.js') }}"></script>
            <!-- Bootstrap CSS -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
            <!-- Bootstrap JS -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
            <!-- Leaflet's CSS -->
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="crossorigin=""/>
            <!-- Leaflet's JS -->
            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
            <!-- Leaflet MarkerCluster CSS -->
            <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css">
            <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css">
            <!-- Leaflet MarkerCluster JS -->
            <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
            <title>Homepage</title>
            <!-- Leaflet Routing Machine CSS and JS -->
            <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css">
            <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
        </head>
        <body>
            <main> 
                <div class="container col-xxl-8 px-4 py-5">
                    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                        <div class="col-10 col-sm-8 col-lg-6">
                            <div id="map"></div>
                        </div> 
                        <div class="col-lg-6"> 
                            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Encuentra gasolineras en tu ruta</h1>
                            <p class="lead">Última actualización: {{ last_update }}</p> 
                            <div>
                                <datalist id="localities-list">
                                    {% for local in localities %}
                                        <option value="{{ local.locality }}" data-municipality="{{ local.municipality }}" data-lat="{{ local.lat }}" data-lng="{{ local.lng }}">
                                            {{ local.municipality }}
                                        </option>
                                    {% endfor %}
                                </datalist>
                                <input type="text" id="origin" list="localities-list" class="form-control mb-3" placeholder="Escribe el punto de partida">
                            </div>
                            <div>
                                <input type="text" id="destination" list="localities-list" class="form-control mb-3" placeholder="Escribe el destino">
                            </div>
                            <div>
                                <button id="route-btn" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Mostrar ruta</button> 
                                <p id="route-distance"></p>
                            </div> 
                        </div> 
                    </div>  
                </div>
            </main>
            <script>
                // Render entire python list as JSON
                const stations = {{ stations | tojson }};
            </script>
        </body>
    </html>